In [88]:
import pandas as pd
import numpy as np
from sklearn import set_config
set_config(transform_output="pandas") 
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
import matplotlib.pyplot as plt
import seaborn as sns

In [89]:
df = pd.read_csv("raw_data.csv")
df.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [90]:
df.drop(['customerID', 'gender'], axis=1, inplace=True)

In [91]:
#Categorial
# Partner, Dependents, PaperlessBilling, gender
# MultipleLines, OnlineSecurity, OnlineBackup, DeviceProtection , TechSupport, StreamingTV, StreamingMovies
# InternetService
# Contract
# PaymentMethod

df['MultipleLines'] = df['MultipleLines'].replace('No phone service', 'No')
df['OnlineSecurity'] = df['OnlineSecurity'].replace('No internet service', 'No')
df['OnlineBackup'] = df['OnlineBackup'].replace('No internet service', 'No')
df['DeviceProtection'] = df['DeviceProtection'].replace('No internet service', 'No')
df['TechSupport'] = df['TechSupport'].replace('No internet service', 'No')
df['StreamingTV'] = df['StreamingTV'].replace('No internet service', 'No')
df['StreamingMovies'] = df['StreamingMovies'].replace('No internet service', 'No')

In [92]:
df.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,Yes,No,1,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,0,No,No,45,No,No,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [93]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df.dropna(inplace=True)
df.isnull().sum()

SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [94]:
transformer = ColumnTransformer(
    transformers=[

        ('tnf1', OrdinalEncoder(), [
                                    'Partner', 
                                    'Dependents', 
                                    'PaperlessBilling', 
                                    'PhoneService', 
                                    'MultipleLines', 
                                    'OnlineSecurity', 
                                    'OnlineBackup', 
                                    'DeviceProtection', 
                                    'TechSupport', 
                                    'StreamingTV', 
                                    'StreamingMovies',
                                    'Churn']),

        ('ohe_drop', OneHotEncoder(drop='first', sparse_output=False), ['InternetService', 'PaymentMethod', 'Contract']),
        ('scaler', StandardScaler(), ['MonthlyCharges', 'TotalCharges', 'tenure'])
    ], 
    remainder='passthrough',
    verbose_feature_names_out=False

)

In [95]:
df = transformer.fit_transform(df)

In [96]:
df.sample(10)

,Partner,Dependents,PaperlessBilling,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,...,InternetService_No,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Contract_One year,Contract_Two year,MonthlyCharges,TotalCharges,tenure,SeniorCitizen
820,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.381200,1.971247,1.164390,0
777,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.571795,-0.925898,-1.239504,0
5561,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,-1.467506,-0.998253,-1.280248,0
1199,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.468750,-0.412224,-0.628345,0
2860,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.216660,2.010822,1.408853,1
5528,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,-0.164481,0.141467,0.471742,0
5234,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.361256,0.858220,0.308766,0
4586,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.793381,2.818813,1.612573,0
1520,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,-1.502408,-0.982988,-1.198760,0
4107,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.985639,2.046404,1.612573,0

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Partner                                7032 non-null   float64
 1   Dependents                             7032 non-null   float64
 2   PaperlessBilling                       7032 non-null   float64
 3   PhoneService                           7032 non-null   float64
 4   MultipleLines                          7032 non-null   float64
 5   OnlineSecurity                         7032 non-null   float64
 6   OnlineBackup                           7032 non-null   float64
 7   DeviceProtection                       7032 non-null   float64
 8   TechSupport                            7032 non-null   float64
 9   StreamingTV                            7032 non-null   float64
 10  StreamingMovies                        7032 non-null   float64
 11  Churn                                  7032 non-null   float64
 12  InternetService_Fiber optic            7032 non-null   float64
 13  InternetService_No                     7032 non-null   float64
 14  PaymentMethod_Credit card (automatic)  7032 non-null   float64
 15  PaymentMethod_Electronic check         7032 non-null   float64
 16  PaymentMethod_Mailed check             7032 non-null   float64
 17  Contract_One year                      7032 non-null   float64
 18  Contract_Two year                      7032 non-null   float64
 19  MonthlyCharges                         7032 non-null   float64
 20  TotalCharges                           7032 non-null   float64
 21  tenure                                 7032 non-null   float64
 22  SeniorCitizen                          7032 non-null   int64
dtypes: float64(22), int64(1)
memory usage: 1.3 MB

In [98]:
df.sample(10)

,Partner,Dependents,PaperlessBilling,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,...,InternetService_No,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Contract_One year,Contract_Two year,MonthlyCharges,TotalCharges,tenure,SeniorCitizen
4103,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.864311,1.865561,1.612573,0
4071,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,-0.860868,-0.714239,-0.669089,0
2014,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.099662,-0.676429,-0.791321,0
6219,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,-1.299642,-0.996025,-1.280248,1
1473,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.128573,0.054707,-0.343137,0
5595,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,-1.509057,-0.980429,-1.239504,0
734,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.842705,0.061810,-0.220905,0
4934,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.527458,2.412589,1.612573,0
1925,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.242715,0.843352,1.082902,0
566,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.233280,-0.271794,-0.709833,0

In [99]:
# Finding the boundary values
print("Highest allowed",df['TotalCharges'].mean() + 3*df['TotalCharges'].std())
print("Lowest allowed",df['TotalCharges'].mean() - 3*df['TotalCharges'].std())

Highest allowed 3.0002133333336025
Lowest allowed -3.0002133333336025

In [100]:
# Finding the outliers
df[(df['TotalCharges'] > 3.0002133333336025) | (df['TotalCharges'] < -3.0002133333336025)]

Empty DataFrame
Columns: [Partner, Dependents, PaperlessBilling, PhoneService, MultipleLines, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Churn, InternetService_Fiber optic, InternetService_No, PaymentMethod_Credit card (automatic), PaymentMethod_Electronic check, PaymentMethod_Mailed check, Contract_One year, Contract_Two year, MonthlyCharges, TotalCharges, tenure, SeniorCitizen]
Index: []

[0 rows x 23 columns]

In [101]:
df.to_csv("preprocessed_data.csv", index=False)