In [210]:
import pandas as pd
import numpy as np
from sklearn import set_config
set_config(transform_output="pandas") # This keeps the output as a DataFrame
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
import matplotlib.pyplot as plt
import seaborn as sns

In [211]:
df = pd.read_csv("data.csv")
df.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [212]:
df.shape

(7043, 21)

In [213]:
X = df.iloc[:,:-1]
X.sample(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
5481,8473-VUVJN,Male,1,No,No,1,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,73.65,73.65
3906,6372-RFVNS,Female,0,Yes,No,1,Yes,No,Fiber optic,No,No,No,No,Yes,No,Month-to-month,No,Electronic check,78.80,78.8
5172,9507-HSMMZ,Male,0,No,No,54,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,1149.65
4085,5640-CAXOA,Female,0,No,No,30,No,No phone service,DSL,No,No,No,Yes,No,Yes,One year,Yes,Credit card (automatic),40.35,1187.05
3095,0315-LVCRK,Male,0,No,No,11,Yes,No,Fiber optic,No,No,Yes,No,No,Yes,Month-to-month,No,Electronic check,84.80,888.75
2125,8311-UEUAB,Female,0,Yes,Yes,67,Yes,Yes,DSL,Yes,No,No,No,Yes,Yes,Two year,Yes,Electronic check,75.50,5229.45
3194,6397-JNZZG,Female,1,Yes,No,43,No,No phone service,DSL,No,Yes,Yes,No,Yes,Yes,Month-to-month,No,Credit card (automatic),55.55,2342.2
5404,8910-ICHIU,Female,0,No,No,46,Yes,No,Fiber optic,Yes,Yes,Yes,No,Yes,No,One year,Yes,Credit card (automatic),95.65,4664.2
6280,0489-WMEMG,Female,0,No,Yes,23,Yes,No,DSL,No,No,No,Yes,No,No,One year,Yes,Electronic check,49.45,1119.35
1560,7338-ERIVA,Male,0,No,Yes,39,No,No phone service,DSL,Yes,No,No,Yes,Yes,No,One year,No,Bank transfer (automatic),45.05,1790.6

In [214]:
y = df.iloc[:,-1]
y

0        No
1        No
2       Yes
3        No
4       Yes
       ...
7038     No
7039     No
7040     No
7041    Yes
7042     No
Name: Churn, Length: 7043, dtype: object

In [215]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [217]:
#Categorial
# Partner, Dependents, PaperlessBilling, gender
# MultipleLines, OnlineSecurity, OnlineBackup, DeviceProtection , TechSupport, StreamingTV, StreamingMovies
# InternetService
# Contract
# PaymentMethod

X['MultipleLines'] = X['MultipleLines'].replace('No phone service', 'No')
X['OnlineSecurity'] = X['OnlineSecurity'].replace('No internet service', 'No')
X['OnlineBackup'] = X['OnlineBackup'].replace('No internet service', 'No')
X['DeviceProtection'] = X['DeviceProtection'].replace('No internet service', 'No')
X['TechSupport'] = X['TechSupport'].replace('No internet service', 'No')
X['StreamingTV'] = X['StreamingTV'].replace('No internet service', 'No')
X['StreamingMovies'] = X['StreamingMovies'].replace('No internet service', 'No')

In [218]:
transformer = ColumnTransformer(
    transformers=[

        ('tnf1', OrdinalEncoder(), ['gender',
                                    'Partner', 
                                    'Dependents', 
                                    'PaperlessBilling', 
                                    'PhoneService', 
                                    'MultipleLines', 
                                    'OnlineSecurity', 
                                    'OnlineBackup', 
                                    'DeviceProtection', 
                                    'TechSupport', 
                                    'StreamingTV', 
                                    'StreamingMovies']),

        ('ohe_drop', OneHotEncoder(drop='first', sparse_output=False), ['InternetService', 'PaymentMethod', 'Contract']),
    ], 
    remainder='passthrough',
    verbose_feature_names_out=False

)

In [219]:
X_transformed = transformer.fit_transform(X)

In [220]:
X_transformed.sample(10)

,gender,Partner,Dependents,PaperlessBilling,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Contract_One year,Contract_Two year,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges
2603,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0164-APGRB,0,72,114.90,8496.7
2190,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,5003-XZWWO,0,71,84.20,5956.85
82,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,9191-MYQKX,0,7,75.15,496.9
2575,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5186-PEIZU,0,35,19.25,617.65
6471,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0859-YGKFW,0,18,20.05,345.9
2712,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,5133-VRSAB,0,8,29.35,216.45
6829,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,8148-WOCMK,0,8,19.60,125
6009,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,6646-VRFOL,1,53,103.85,5485.5
5332,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,4565-EVZMJ,0,47,58.90,2813.05
6190,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2867-UIMSS,0,1,80.50,80.5

In [225]:
X_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   gender                                 7043 non-null   float64
 1   Partner                                7043 non-null   float64
 2   Dependents                             7043 non-null   float64
 3   PaperlessBilling                       7043 non-null   float64
 4   PhoneService                           7043 non-null   float64
 5   MultipleLines                          7043 non-null   float64
 6   OnlineSecurity                         7043 non-null   float64
 7   OnlineBackup                           7043 non-null   float64
 8   DeviceProtection                       7043 non-null   float64
 9   TechSupport                            7043 non-null   float64
 10  StreamingTV                            7043 non-null   float64
 11  StreamingMovies                        7043 non-null   float64
 12  InternetService_Fiber optic            7043 non-null   float64
 13  InternetService_No                     7043 non-null   float64
 14  PaymentMethod_Credit card (automatic)  7043 non-null   float64
 15  PaymentMethod_Electronic check         7043 non-null   float64
 16  PaymentMethod_Mailed check             7043 non-null   float64
 17  Contract_One year                      7043 non-null   float64
 18  Contract_Two year                      7043 non-null   float64
 19  customerID                             7043 non-null   object
 20  SeniorCitizen                          7043 non-null   int64
 21  tenure                                 7043 non-null   int64
 22  MonthlyCharges                         7043 non-null   float64
 23  TotalCharges                           7043 non-null   object
dtypes: float64(20), int64(2), object(2)
memory usage: 1.3+ MB

In [229]:
X_transformed.drop(['customerID'], axis=1, inplace=True)

In [234]:
X_transformed['TotalCharges'] = pd.to_numeric(X_transformed['TotalCharges'], errors='coerce')

In [235]:
X_transformed.isnull().sum()

gender                                    0
Partner                                   0
Dependents                                0
PaperlessBilling                          0
PhoneService                              0
MultipleLines                             0
OnlineSecurity                            0
OnlineBackup                              0
DeviceProtection                          0
TechSupport                               0
StreamingTV                               0
StreamingMovies                           0
InternetService_Fiber optic               0
InternetService_No                        0
PaymentMethod_Credit card (automatic)     0
PaymentMethod_Electronic check            0
PaymentMethod_Mailed check                0
Contract_One year                         0
Contract_Two year                         0
SeniorCitizen                             0
tenure                                    0
MonthlyCharges                            0
TotalCharges                             11
dtype: int64

In [237]:
X_transformed.dropna(inplace=True)

In [240]:
X_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   gender                                 7032 non-null   float64
 1   Partner                                7032 non-null   float64
 2   Dependents                             7032 non-null   float64
 3   PaperlessBilling                       7032 non-null   float64
 4   PhoneService                           7032 non-null   float64
 5   MultipleLines                          7032 non-null   float64
 6   OnlineSecurity                         7032 non-null   float64
 7   OnlineBackup                           7032 non-null   float64
 8   DeviceProtection                       7032 non-null   float64
 9   TechSupport                            7032 non-null   float64
 10  StreamingTV                            7032 non-null   float64
 11  StreamingMovies                        7032 non-null   float64
 12  InternetService_Fiber optic            7032 non-null   float64
 13  InternetService_No                     7032 non-null   float64
 14  PaymentMethod_Credit card (automatic)  7032 non-null   float64
 15  PaymentMethod_Electronic check         7032 non-null   float64
 16  PaymentMethod_Mailed check             7032 non-null   float64
 17  Contract_One year                      7032 non-null   float64
 18  Contract_Two year                      7032 non-null   float64
 19  SeniorCitizen                          7032 non-null   int64
 20  tenure                                 7032 non-null   int64
 21  MonthlyCharges                         7032 non-null   float64
 22  TotalCharges                           7032 non-null   float64
dtypes: float64(21), int64(2)
memory usage: 1.3 MB

In [241]:
X_transformed.sample(10)

,gender,Partner,Dependents,PaperlessBilling,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,InternetService_No,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Contract_One year,Contract_Two year,SeniorCitizen,tenure,MonthlyCharges,TotalCharges
4762,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,34,69.15,2275.10
6419,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,69,84.90,5785.65
5615,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0,1,20.20,20.20
3593,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,8,70.10,551.35
1517,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0,56,100.55,5514.95
850,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0,72,115.80,8476.50
3170,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0,28,100.20,2688.45
6527,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,6,55.30,324.25
2520,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0,34,84.75,2839.45
4381,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,49,90.85,4515.85